<!DOCTYPE html>
<html lang="en" xmlns:th="">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Cập nhật việc làm</title>
  </head>
  <body>
    <header th:insert="template.html :: topmenu"></header>

    <div class="container border col-6 mt-3">
      <h1 class="text-center">Cập nhật việc làm</h1>
      <form action="" class="col-12" th:object="${job}" method="POST">
        <label for="name" class="form-label">Nhà tuyển dụng</label>
        <select class="form-select" th:field="*{emp_id}">
          <option
            th:each="employer : ${employers}"
            th:value="${employer.id}"
            th:text="${employer.name}"
          ></option>
        </select>
        <label for="title" class="form-label mt-2">Công việc</label>
        <input
          type="text"
          class="form-control"
          name="title"
          th:field="*{title}"
        />
        <label for="description" class="form-label mt-2">Mô tả</label>
        <input
          type="text"
          class="form-control"
          name="description"
          th:field="*{description}"
        />
        <label for="city" class="form-label mt-2">Địa điểm</label>
        <select class="form-select mt-2" th:field="*{city}">
          <option
            th:each="city : ${T(vn.techmaster.jobhunt.model.City).values()}"
            th:value="${city}"
            th:text="${city.label}"
          ></option>
        </select>
        <div class="text-center mt-2">
          <button type="submit" class="btn btn-success mb-2">Cập nhật</button>
        </div>
      </form>
    </div>
  </body>
</html>
