<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <div th:fragment="topmenu">
      <nav class="nav navbar-expand-sm bg-info d-flex justify-content-between">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link h3 text-danger align-self-center" href="/">Job Hunt
            </a>
          </li>

          <li type="button" class="nav-item align-self-center">
            <a class="nav-link text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              th:text="#{Companies}"
            ></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/employer/list" th:text="#{CompaniesList}">Danh sách nhà tuyển dụng</a></li>
              <li><a class="dropdown-item" href="/employer/add" th:text="#{AddCompanies}">Thêm nhà tuyển dụng</a></li>
            </ul>
          </li>

          <li type="button" class="nav-item align-self-center">
            <a class="nav-link text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              th:text="#{Jobs}">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/job/list" th:text="#{JobsList}">Danh sách nhà tuyển dụng</a></li>
              <li><a class="dropdown-item" href="/job/add" th:text="#{AddJobs}">Thêm nhà tuyển dụng</a></li>
            </ul>
          </li>

          <li type="button" class="nav-item align-self-center">
            <a class="nav-link text-white dropdown-toggle"
              data-bs-toggle="dropdown"
              th:text="#{Applicants}"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/applicant/list" th:text="#{ApplicantsList}">Danh sách nhà tuyển dụng</a></li>
            </ul>
          </li>
        </ul>

        <ul>
          <li class="nav-item d-flex">
            <a
              class="nav-link text-dark align-self-center"
              type="button"
              th:text="#{switch-en}"
              onclick="window.location.href='/?lang=en'"
            ></a>
            <div class="align-self-center">|</div>
            <a
              class="nav-link text-dark align-self-center"
              type="button"
              th:text="#{switch-vn}"
              onclick="window.location.href='/?lang=vn'"
            ></a>
          </li>
        </ul>
      </nav>
    </div>
    <div th:fragment="footermenu">
      <div class="container mt-5">
        <div class="row text-center">
          <div class="col-4 nav-item ">
            <h5 class="text-info" th:text="#{Companies}"></h5>
            <a class="text-dark text-decoration-none" href="/employer/add" th:text="#{AddCompanies}"
              >Thêm nhà tuyển dụng</a
            >
            <br />
            <a
              class="text-dark text-decoration-none"
              href="/employer/list"
              th:text="#{CompaniesList}"
              >Danh sách nhà tuyển dụng</a
            >
          </div>
          <div class="col-4">
            <h5 class="text-info" th:text="#{Jobs}"></h5>
            <a class="text-dark text-decoration-none" href="/job/add" th:text="#{AddJobs}"
              >Tạo việc làm</a
            >
            <br />
            <a class="text-dark text-decoration-none" href="/job/list" th:text="#{JobsList}"
              >Danh sách việc làm</a
            >
          </div>
          <div class="col-4 mb-5">
            <h5 class="text-info" th:text="#{Applicants}"></h5>
            <a
              class="text-dark text-decoration-none"
              href="/applicant/add"
              th:text="#{AddApplicants}"
              >Thêm ứng viên</a
            >
            <br/>
            <a
              class="text-dark text-decoration-none"
              href="/applicant/list"
              th:text="#{ApplicantsList}"
              >Danh sách ứng viên</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
